@model IEnumerable<KisiselBlog.Models.Blog>
@{
    ViewData["Title"] = "About";
}

<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/bilgi.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="page-heading">
                    <h1>Hakkımızda</h1>
                  
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>
                    <h6>Klinik Psikolog Berivan Asi</h6>
                    Psikolojik sağlığın bozulması kişinin günlük hayatını, sosyal çevresini, iş yapış şeklini etkilemesinin yanında, bedensel sağlığını doğrudan etkilediği bilim dünyası tarafından kabul edilmiştir.
                    Bu sebeple ruh sağlığınızla ilgili sorunlar yaşıyorsanız ihmal etmeden destek almalısınız.
                </p>
            </div>
        </div>
    </div>
</main>